apturl
asgiref
backports.zoneinfo
bcrypt
blinker
Brlapi
certifi
chardet
Click
colorama
command-not-found
crispy-bootstrap5
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
dj-database-url
Django
django-crispy-forms
django-environ
django-filter
djangorestframework
duplicity
entrypoints
fasteners
future
httplib2
idna
importlib-metadata
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
Markdown
MarkupSafe
monotonic
netifaces
oauthlib
olefile
paramiko
pexpect
Pillow
protobuf
psycopg
psycopg2-binary
pycairo
pycups
PyGObject
PyJWT
pymacaroons
PyNaCl
pyRFC3339
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
reportlab
requests
requests-unixsocket
SecretStorage
simplejson
six
sqlparse
systemd-python
typing-extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
usb-creator
wadllib
xkit
zipp